<div class="container">
  <h1>Hi <%= @guest.name %></h1>

  <h2>We are happy to invite your family to celebrate Zakhar's birthday party with us</h2>
  <h3>Please check the links below and let us know if you are going to join us.</h3>
</div>

<div class="col-md-12 main-block">
  <div class="col-md-7">
    <iframe width="660" height="415" src="https://www.youtube.com/embed/0XVkumJMDRs" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-5">
    <div class="col-md-12">
      <%= image_tag("link_head.png", class: "img-responsive link_pic col-md-3") %>
      <h2>Sunday</h2>
      <h3>July 2, 2016</h3>
    </div>
    <div class="col-md-12">
      <%= image_tag("link_head.png", class: "img-responsive link_pic col-md-3") %>
      <h2>Lake Accotink Park</h2>
      <h3>7500 Accotink Park Rd, Springfield, VA 22150</h3>
      <div>
        <%= image_tag("shelter.png", class: "mg-responsive shelter") %>
      </div>
    </div>
  </div>
</div>

<br><br>
<hr>

<div class="col-md-12">
  <div>
    <%= link_to "Yeah! We are going to join your party!", guest_join_path(@guest, :visit => "yes"), class: "col-md-4 col-md-offset-2 btn btn-success btn-lg" %>
    <%= link_to "Sorry, we can't join you.", guest_join_path(@guest, :visit => "no"), class: "col-md-4 col-md-offset-1 btn btn-danger btn-lg" %>
  </div>
</div>